<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Police_CaseHelper</title>
    <partial name="_ScriptsCSS.cshtml" />
</head>
<body>
    <div class="container">

        <partial name="_Header.cshtml" />   
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <partial name="_Footer.cshtml" />
    </div>
    
    <partial name="_ScriptsJS.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
