html {
    font-size: 16px;
    background-color: #D9D9D9;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #D9D9D9;
}

container{
    padding: 10px;
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #fff;
    margin: 2px;
}

	.btn-red:hover {
		color: #fff;
		background-color: #bb2d3b;
	/* border-color: #fff; */
		margin: 2px;
	}

.btn-yellow {
    color: #000;
    background-color: #FFA825;
    border-color: #fff;
    margin: 2px;
}

	.btn-yellow:hover {
		color: #fff;
		background-color: #FF9D0D;
		/* border-color: #fff; */
		margin: 2px;
	}

.navbar-background {
    --bs-bg-opacity: 1;
    background-color: #FFB84D;
    margin:10px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:10px;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    padding: 10px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.col-md-12{
    padding-left:15px;
    padding-right: 10px
}

.nav-item {
  border: 1px solid black; 
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  /* Ensure correct height */
  line-height: 20px;
}

	.nav-item:hover {
		border-color: #fff;
	}